<main class="main">
  <div
    class="currency"
    title="изменить валюту"
    id="change-currency"
    (click)="changeCurrency()"
  >
    {{ getCurrency() }}
  </div>
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/images/logo.png" alt="Логотип Trendly Cookies" />
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item"><a (click)="scrollTo(products)">Каталог</a></li>
          <li class="menu-item"><a (click)="scrollTo(love)">О нас</a></li>
          <li class="menu-item">
            <a (click)="scrollTo(order)">Оформление заказа</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="main-content">
    <div class="container">
      <img class="line-1" src="./assets/images/line1.png" alt="линия фона 1" />
      <div class="main-info">
        <h1 class="main-title">Магия вкуса в&nbsp;каждой крошке</h1>
        <p class="main-text">
          Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное
          натуральное масло, свежие сливки, чистый мёд и отборная мука. Мы
          тщательно отбираем каждый компонент премиального печенья, стремясь
          подарить вам истинное кулинарное наслаждение.
        </p>
        <div class="main-action">
          <button
            class="button"
            id="main-action-button"
            (click)="scrollTo(products)"
          >
            Заказать
          </button>
        </div>
      </div>
      <img
        class="main-image"
        src="./assets/images/cookie.png"
        alt="Хрустящая печенька"
      />
    </div>
  </section>
  <section class="products" id="products" #products>
    <div class="container">
      <img class="line-2" src="./assets/images/line2.png" alt="линия фона 2" />
      <h2 class="common-title">Выберите печенье</h2>
      <div class="products-items">
        <div class="products-item" *ngFor="let product of productsData">
          <div class="products-item-image">
            <img
              src="./assets/images/products/{{ product.image }}"
              alt="Печенье: {{ product.title }}"
            />
          </div>
          <div class="products-item-details">
            <h3 class="products-item-title">{{ product.title }}</h3>
            <p class="products-item-text">
              {{ product.text }}
            </p>
            <div class="products-item-extra">
              <div class="products-item-info">
                <div class="products-item-price">
                  {{ product.price.toFixed(1) }} {{ getCurrency() }}
                </div>
                <div class="products-item-weight">{{ product.weight }}</div>
              </div>
              <button
                class="button violet-button"
                (click)="scrollTo(order, product)"
              >
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="love" id="love" #love>
    <div class="container">
      <h2 class="common-title">Пекарня с любовью</h2>
      <div class="love-items">
        <div class="love-item love-item-white">
          <h3 class="love-item-title">
            Приготовлено с заботой, чтобы радовать вас каждый день
          </h3>
          <p class="love-item-text">
            Мы с гордостью представляем наше печенье, которое мы выпекаем
            вручную каждый день с 1995&nbsp;года, используя только лучшие
            ингредиенты. Погрузитесь в мир изысканных лакомств, приготовленных
            с применением передовых технологий, и насладитесь их неповторимым
            вкусом.
          </p>
        </div>
        <div class="love-item love-item-image">
          <img
            src="./assets/images/love.png"
            alt="Печенье приготовленое с заботой"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="order" id="order" #order>
    <img class="line-3" src="./assets/images/line3.png" alt="линия фона 3" />
    <div class="container">
      <h2 class="common-title">Закажите печенье</h2>
      <img
        class="order-bg-image"
        src="./assets/images/breadcrumbs.png"
        alt="фон из крошек печенья"
      />
      <div class="order-block">
        <div class="order-form">
          <div class="order-form-text">
            Откройте для себя волшебство вкуса с нашим премиальным печеньем!
            Закажите прямо сейчас и окунитесь в мир сладких наслаждений.
          </div>
          <div class="order-form-inputs" [formGroup]="form">
            <input
              type="text"
              placeholder="Выберите печенье"
              id="product"
              formControlName="product"
              [class]="{
                error:
                  form.get('product')?.invalid &&
                  (form.get('product')?.dirty || form.get('product')?.touched)
              }"
              readonly
            />
            <input
              type="text"
              placeholder="Ваше имя"
              id="name"
              formControlName="name"
              [class]="{
                error:
                  form.get('name')?.invalid &&
                  (form.get('name')?.dirty || form.get('name')?.touched)
              }"
            />
            <input
              type="text"
              placeholder="Ваш телефон"
              id="phone"
              formControlName="phone"
              [class]="{
                error:
                  form.get('phone')?.invalid &&
                  (form.get('phone')?.dirty || form.get('phone')?.touched)
              }"
            />
            <button
              class="button violet-button"
              id="send-order"
              (click)="confirmOrder()"
              [disabled]="!form.valid"
            >
              Оформить заказ
            </button>
          </div>
        </div>
        <div class="order-block-image">
          <img
            class="order-image"
            src="./assets/images/order.png"
            alt="Многообразие печенья"
          />
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="logo">
      <img src="images/logo.png" alt="Logo" />
    </div>
    <div class="rights">&laquo;Все права защищены&raquo;</div>
  </footer>
</main>
